body {
    background-color: #282a36;
    color: white;
}

.container {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 45%;
}


.modal-content {
    background-color: #282a36;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

code {
    color: #6272a4;
    font-size: 20px;
}

.code-wrapper {
    margin: 8px;
}

.copy-wrapper {
    margin: 8px;
    display: flex;
    justify-content: center;
}

.btn-wrapper {
    margin: 24px;
    display: flex;
    justify-content: center;
}

.file-wrapper {
    margin: 8px;
    display: flex;
    justify-content: center;
}

.url-wrapper {
    margin: 8px;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: #bd93f9;
    color: #f8f8f2;
    border: none;
    width: 240px;
    height: 70px; 
    font-size: 32px;
    border-radius: 16px;
}
.btn:hover {
    background-color: #ab74f8;
}

.btn-copy {
    background-color: #282a36;
    color: #6272a4;
    border: none;
    width: 24px;
    height: 24px; 
    font-size: 24px;
    border-radius: 4px; 
    padding: 0;
    margin: 0 auto;
    text-align: center;
}
.btn-copy:hover {
    background-color: #282a36;
    color: #44475a; 
}